{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Instagram / Post List</title>
</head>
<body>
    <form action="" method="GET">
        <input type="text" name="q" value="{{ q }}"/>
        <input type="submit" value="검색">
    </form>
    <table>
        <tbody>
    {% for post in post_list %}
            <tr>
                <td>
                    {% if post.photo %}
                        <img src="{{ post.photo.url }}" style="width: 300px">
                    {% else %}
                        NO PHOTO
                    {% endif %}
                </td>
                <td>
                    <a href="{{ post.get_absolute_url }}">
                    {{ post.message }}
                        </a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    {{ is_pagenated }}

    {% bootstrap_pagination page_obj size="small" justify_content="center" %}
</body>
</html>